// huge, break into partials
<div class="photo-display-single">
    <%= image_tag(@photo.url)%>
  <div id="comment-display">
    <% @photo.comments.each do |comment| %>
      <%= render 'comment', :comment => comment %>
    <% end %>
  </div>

<% if current_user %>
  <div id="comment-box">
    Leave a Comment:<%= form_for @comment, :remote => true do |f| %>
    <%= f.hidden_field :username, :value => @user.screen_name %>
    <%= f.text_field :content, :placeholder => "An appropriate comment", :id => 'comment_text' %>
    <%= f.submit "Comment", :id => 'submit-button' %>
    <% end %>
  </div>
  <% end %>
  <br>
  <br>
  <br>
  <br>
</div>



