<div class="photo-display-single">
    <%= image_tag(@photo.url)%>
  <div id="comment-display">
    <% @photo.comments.each do |comment| %>
    <p><%= comment.username + ": " + comment.content%></p>
    <% end %>
  </div>

<% if @user %>
  <div id="comment-box">
    Leave a Comment:<%= form_for :comment, :url => photo_comments_path(@photo.id), :remote => true do |f| %>
    <%= f.hidden_field :username, :value => @user.screen_name %>
    <%= f.text_field :content, :placeholder => "An appropriate comment", :id => 'comment_text' %>
    <%= f.submit "Comment", :id => 'submit-button' %>
    <% end %>
  </div>
  <% end %>
  <br>
  <br>
  <br>
  <br>
</div>



