<!DOCTYPE html>
<html>
<head>
  <title>SleepOverflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>

    <div id="sleep-hash">
      <h1 id="bottom-header">#DBCSleeps</h1>
    </div>

    <div id = "sleep-title">
      <h1 id="top-header">sleep</h1>
      <h1 id="middle-header">OVERFLOW</h1>
    </div>

    <div id="logo">
    </div>

<!-- <div class="clock">
    <div class="m m-10"></div>
    <div class="h h-10"></div>
    </div>
 -->
</nav>
<div class='authentication'>
<% if @user %>
  <div class="sign-out">
    <%= form_tag(signout_path, :method => 'delete') do %>
        <legend>
          <%= t("#{@user.screen_name}, Sign out") %>
        </legend>
        <div class="form-actions">
          <button class="btn-custom-lighten" id="sign_out">
            <%= t("button.sign_out") %>
          </button>
        </div>
    <% end %>
  </div>
<% else %>
 <div>
  <%= form_tag "/auth/twitter", :method => "get", :html => {:class => "form-horizontal"} do %>
        <legend>
          <%= t("Sign in via Twitter") %>
        </legend>
      <div class="sign-in">
          <button class="btn-custom-lighten">
            <%= t("button.sign_in") %>
          </button>
        </div>
    <% end %>
  </div>
<% end %>
</div>

<%= yield %>

</body>
</html>
